<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    Test
        <br>
    <form class="columnSelection" method="POST" action="/submitted">  
       <select class="columnForm" id="columnDropdownSelector" type="text" name="columnDropdown" placeholder="Select A Team">
            <option disabled selected>Select a matched column</option>
            {% for x in server_list %}
            <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
            {% endfor %}
       </select>
       <input class="btn" type="submit" value="submit">
    </form>
</body>
</html>